@page "/"

<PageTitle>Softeknology, Inc.</PageTitle>

<div class="container-fluid background-container" style="color:white;">
    <div class="row" style="padding-top:30px;padding-left:30px;">
        <div class="col-6">
            <p style="padding-top:10px;color:skyblue;text-transform:uppercase;">
                Microsoft Azure and Cloud Native Technology
            </p>
            <h1>Driving business improvement through technology modernization</h1>
            <p style="padding-top:15px;font-family:'Eras ITC';font-size:14pt;">
                In today's markets enterprise solutions require the ability to mitigate hardware
                and network failures, provide predictable service on a global scale, seamlessly
                respond to rapid growth and workload spikes all while minimizing cost
                and administration. We can help you get there!
            </p>
        </div>
        <div class="col-5" style="padding-top:12px;padding-left:100px;margin-left:50px;">
            @* <img src="/images/adobestock_transparent_circuit_board.png" width="550" height="250" /> *@
        </div>
    </div>
</div>
