@page "/"

<PageTitle>Softeknology, Inc.</PageTitle>

@* Header Container *@
@* ------------------------------------------------------------------------------------------------*@
<div class="container-fluid background-container" style="color:white;">
    <div class="row" style="padding-top:30px;padding-left:30px;">
        <div class="col-6">
            <p style="padding-top:10px;color:skyblue;text-transform:uppercase;">
                Microsoft Azure and Cloud Native Technology
            </p>
            <h1>Driving business improvement through technology modernization</h1>
            <p style="padding-top:15px;font-family:'Eras ITC';font-size:14pt;">
                In today's markets enterprise solutions require the ability to mitigate hardware
                and network failures, provide predictable service on a global scale, seamlessly
                respond to rapid growth and workload spikes all while minimizing cost
                and administration. We can help you get there!
            </p>
        </div>
        <div class="col-5" style="padding-top:12px;padding-left:100px;margin-left:50px;">
            @* <img src="/images/adobestock_transparent_circuit_board.png" width="550" height="250" /> *@
        </div>
    </div>
</div>
@* ------------------------------------------------------------------------------------------------*@

@* Collaboration Approach Container *@
@* ------------------------------------------------------------------------------------------------*@
<div class="container-fluid background-approach">
    <div class="row" style="padding-left:30px; padding-bottom:30px;padding-top:50px;font-family:'Microsoft JhengHei UI';font-weight:300;">
        <div class="col-7">
            <h1 style="font-family:'Microsoft JhengHei UI';font-weight:300;">Our approach to colloaboration</h1>
            <p style="font-family:'Microsoft JhengHei UI';font-size:14pt;">
                We work with you to understand your business and technology needs, and then
                develop a plan to help you modernize your business to ensure you have well architected
                workloads that are maximizing return on your technology spend.
            </p>
        </div>
        <div class="col-5"></div>
    </div>
    <div class="row" style="padding-left:30px;padding-right:30px;">
        <div class="col-4">
            <div class="card rounded-3" style="opacity:.8;">
                <div class="card-body ">
                    <h4 class="card-title" style="color:#112940;font-weight:600;text-align:center;">Assessment and Planning</h4><hr />
                    <p class="card-text" style="font-family:'Microsoft JhengHei UI';font-weight:300;">
                        Examine the reliability, security, cost optimization, operational excellence, and performance
                        efficiency of your current operations.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card rounded-3" style="opacity:.8;">
                <div class="card-body">
                    <h4 class="card-title" style="color:#112940;font-weight:600;text-align:center;">Design and Development</h4><hr />
                    <p style="font-family:'Microsoft JhengHei UI';font-weight:300;">
                        Establish the appropriate tools, desired technologies and delivery schedule for targeted
                        workloads. Employ appropriate architecture and best practices.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card rounded-3" style="opacity:.8;">
                <div class="card-body">
                    <h4 class="card-title" style="color:#112940;font-weight:600;text-align:center;">Implementation and Testing</h4><hr />
                    <p class="card-text" style="font-family:'Microsoft JhengHei UI';font-weight:300;">
                        Examine the reliability, security, cost optimization, operational excellence, and performance
                        efficiency of your workload's design.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:30px;">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card rounded-3" style="opacity:.8;">
                <div class="card-body">
                    <h4 class="card-title" style="color:#112940;font-weight:600;text-align:center;">Deployment and Monitoring</h4><hr />
                    <p class="card-text" style="font-family:'Microsoft JhengHei UI';font-weight:300;">
                        Examine the reliability, security, cost optimization, operational excellence, and performance
                        efficiency of your workload's design.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>
@* ------------------------------------------------------------------------------------------------*@

@* Core Services Container *@
@* ------------------------------------------------------------------------------------------------*@
<div class="container-fluid" style="height:500px; background-color:ButtonFace;">
    <div class="row">
        <div class="col-12" style="text-align:center;padding-top:40px;">
            <h1 style="font-family:'Microsoft JhengHei UI';font-weight:300;">Call for free consultation (800) 343-2439</h1>
        </div>
    </div>
    <div class="row" style="padding-top:40px;padding-bottom:100px;">
        <div class="col-3">
            <div class="card rounded-3 w-100" style="width: 18rem;">
                <img class="card-img-top card-img-size" src="/images/AdobeStock_Cloud_Migration.jpeg" />
                <div class="card-body" style="font-family:'Microsoft JhengHei UI';">
                    <h5 class="card-title" style="text-align:center;font-weight:600;">Cloud Migration</h5>
                    <p class="card-text" style="font-family:'Microsoft JhengHei UI';font-weight:300;">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card rounded-3 w-100" style="width: 18rem;">
                <img class="card-img-top card-img-size" src="/images/shutterstock_coding_1200x400.jpg" />
                <div class="card-body" style="font-family:'Microsoft JhengHei UI';">
                    <h5 class="card-title" style="text-align:center;font-weight:600;">Application Modernization</h5>
                    <p class="card-text" style="font-family:'Microsoft JhengHei UI';font-weight:300;">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card rounded-3 w-100" style="width: 18rem;">
                <img class="card-img-top card-img-size" src="/images/AdobeStock_BusinessContinuity.jpeg" />
                <div class="card-body" style="font-family:'Microsoft JhengHei UI';">
                    <h5 class="card-title" style="text-align:center;font-weight:600;">Business Continuity</h5>
                    <p class="card-text" style="font-family:'Microsoft JhengHei UI';font-weight:300;">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card rounded-3 w-100" style="width: 18rem;">
                <img class="card-img-top card-img-size" src="/images/shutterstock_bigdata_stream_1200x400.jpg" />
                <div class="card-body" style="font-family:'Microsoft JhengHei UI';">
                    <h5 class="card-title" style="text-align:center;font-weight:600;">Big Data Analytics</h5>
                    <p class="card-text" style="font-family:'Microsoft JhengHei UI';font-weight:300;">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@* ------------------------------------------------------------------------------------------------*@

@* Footer Container *@
@* ------------------------------------------------------------------------------------------------*@
<div class="container-fluid">
    <div class="row" style="background-color:#112940;color:white;font-family:'Microsoft JhengHei UI';font-weight:300;font-size:10pt;padding-top:20px;padding-bottom:20px;">
        <div class="col-12">
            <span>&copy;&nbsp;Softeknology.&nbsp;All;rights reserved.</span>
        </div>
    </div>
</div>
@* ------------------------------------------------------------------------------------------------*@

